<div class="row">
    <div class="page-title twelwe columns">
        <% if @user.admin? %>
            <h2>all apps</h2>
        <% else %>
            <h2>your apps</h2>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="new-app">
        <%= link_to "New App", new_app_path %>
    </div>
</div>
<div>
    <% if @user.admin %>
        <% if @users.any? %>
            <% @users.each do | u | %>
                <div>
                    <%= u.email %>
                </div>
                <% if u.apps.any? %>
                    <div>
                        <% u.apps.each do | a | %>
                            <div>
                                <%= a.name %> : 
                                <%= a.api_key %>
                            </div>
                            <div>
                                <%= link_to "delete", a, method: :delete, class: "button",
                                                          data: { confirm: "You sure?" } %>
                            </div>
                        <%end%>
                    </div>
                <% else %>
                    <div>
                        no apps
                    </div>                
                <% end %>
                <hr />
            <%end%>
        <% end %>
    <% else %>
        <% if @apps.any? %>
            <% @apps.each do |app| %>
                <div>
                    <b><%= app.name %></b>
                </div>
                <div>
                    <%= app.api_key %>
                </div>
                <div>
                    <%= link_to "delete", app, method: :delete, class: "button",
                                              data: { confirm: "You sure?" } %>
                </div>                
                <hr />
            <% end %>
        <% end %>
    <% end %>

</div>

